body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #0a1116;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-family: "Montserrat", sans-serif;
  color: white;
  text-align: center;
}

label {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 20px;
}
form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
input.entrada-cep {
  width: 200px;
  height: 30px;
  font-size: 1.5em;
  margin-bottom: 20px;
  text-align: center;
}

button.buscador {
  width: 100px;
  height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: "Montserrat", sans-serif;
  border: none;
  border-radius: 4px;
  background: #fff;
  text-decoration: none;
  color: black;
  font-size: 1.2em;
}

button.voltar {
  width: 100px;
  height: 40px;
  margin-top: 30px;
  margin-bottom: 10px;
  font-family: "Montserrat", sans-serif;
  border: none;
  border-radius: 4px;
  background: #fff;
  text-decoration: none;
  color: black;
  font-size: 1.2em;
  margin-bottom: 40px;
}

button:hover {
  letter-spacing: 0.1em;
  cursor: pointer;
}

button a {
  text-decoration: none;
  color: black;
}

div.dados-container {
  margin-top: 20px;
  padding: 0px 20px;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.3);
  display: none;
}

div.dados-container.ativo {
  display: block;
}

ul.lista-dados {
  list-style-type: none;
  padding: 0px;
}

ul.lista-dados li {
  color: white;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 10px;
  font-size: 1.2em;
}

label.logo-footer {
  font-size: 18px;
}
