body {
  height: 100vh;
  width: 100%;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  background: #322f3d;
  padding-left: 20px;
  padding-right: 20px;
}

img.chuck-img {
  display: block;
  max-height: 40vh;
  padding-top: 20px;
  margin: 0 auto;
}

div.container {
  background: #59405c;
  height: 50vh;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

button#randomize {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5em;
  max-width: 300px;
  border-radius: 4px;
  border: none;
  padding: 10px 20px;
}

p.frase {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 1.5em;
  line-height: 1.5em;
  max-width: 500px;
}

button:hover {
  cursor: pointer;
}
