section.about {
    max-width: 100%;
    background: #f7df1e;

    div.aboutContainer {
        max-width: 1000px;
        margin: 0 auto;
        padding: 40px;
        text-align: center;

        h2.sobreText {

            font-family: "Bebas Neue", cursive;
            font-size: 80px;
            text-align: center;
            margin-bottom: 20px;

        }

        p {

            max-width: 400px;
            text-align: center;
            margin: 0 auto;
            margin-bottom: 20px;
            font-family: "Bebas Neue", cursive;
            letter-spacing: 0.1em;
            line-height: 1.5em;
        }

        h2.nameText {
            font-family: "Bebas Neue", cursive;
            letter-spacing: 0.1em;
            line-height: 1.5em;
            text-align: center;
        }

        h2.descriptionText {
            font-family: "Bebas Neue", cursive;
            letter-spacing: 0.1em;
            line-height: 1.5em;
            text-align: center;
            margin-bottom: 30px;
        }

        img {
            border-radius: 50%;
            max-width: 200px;
            margin: 0 auto;
        }

        button.github {
            margin-top: 30px;
            font-family: "Bebas Neue", cursive;
            background: #000;
            border: none;
            font-size: 44px;
            color: white;
            padding: 10px 20px;
            border-radius: 8px;

            &:hover {
                cursor: pointer;
            }
        }
    }
}